<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposite</title>
</head>
<body>
    <h1>Deposite</h1>
    <h3>Current Balance: ₹{{ amount }}</h3>
    <a href="/logout">Logout</a>

    <form action="/deposit" method="POST">
        <label for="deposit Amount"></label>
        <input type="number" name="deposit" placeholder="Enter amount for deposit">
        <button type="submit">Deposit</button>
    </form>
        
</body>
</html>